In [421]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [422]:
# evalys requires pandas==0.25.3
# %matplotlib inline
import pandas as pd
import matplotlib
from evalys.jobset import JobSet

In [423]:
input_location = 'out'

In [424]:
schedule = pd.read_csv('../output/' + input_location + '_schedule.csv')
schedule.T

                                 0
batsim_version               4.0.0
consumed_joules                  0
makespan                    987249
max_slowdown               1.00012
max_turnaround_time        21516.3
max_waiting_time                 0
mean_slowdown             0.975378
mean_turnaround_time       121.343
mean_waiting_time                0
nb_computing_machines          109
nb_grouped_switches              0
nb_jobs                      40614
nb_jobs_finished             39614
nb_jobs_killed                   8
nb_jobs_rejected              1000
nb_jobs_success              39606
nb_machine_switches              0
scheduling_time            45.6014
simulation_time            62.8927
success_rate              0.975181
time_computing         5.64867e+07
time_idle              4.96145e+07
time_sleeping                    0
time_switching_off               0
time_switching_on                0
time_unavailable                 0

In [425]:
js = JobSet.from_csv('../output/' + input_location + '_jobs.csv')
js.df.drop(['consumed_energy'], axis=1, inplace=True)
df = js.df.sort_values(by=['submission_time'])
df

,jobID,workload_name,profile,submission_time,requested_number_of_resources,requested_time,success,final_state,starting_time,execution_time,finish_time,waiting_time,turnaround_time,stretch,allocated_resources,metadata,proc_alloc
0,15,w0,15,1.000000,4,53940.000000,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],3.818745e+09,0
1,0,w0%15,data_staging_profile_0,1.000000,2,53940.000000,1,COMPLETED_SUCCESSFULLY,1.000000,3.055096,4.055096,0.0,3.055096,1.0,"[96, 108]",NaN,2
2,1,w0%15,data_staging_profile_0,1.000000,2,53940.000000,1,COMPLETED_SUCCESSFULLY,1.000000,3.055096,4.055096,0.0,3.055096,1.0,"[96, 108]",NaN,2
3,2,w0%15,data_staging_profile_0,1.000000,2,53940.000000,1,COMPLETED_SUCCESSFULLY,1.000000,3.055096,4.055096,0.0,3.055096,1.0,"[96, 108]",NaN,2
4,3,w0%15,data_staging_profile_0,1.000000,2,53940.000000,1,COMPLETED_SUCCESSFULLY,1.000000,3.055096,4.055096,0.0,3.055096,1.0,"[96, 108]",NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40556,586,w0%1007,data_staging_profile_0,987157.858986,2,1042.701171,1,COMPLETED_SUCCESSFULLY,987157.858986,91.428671,987249.287658,0.0,91.428672,1.0,"[98, 108]",NaN,2
40555,585,w0%1007,data_staging_profile_0,987157.858986,2,1042.701171,1,COMPLETED_SUCCESSFULLY,987157.858986,91.428671,987249.287658,0.0,91.428672,1.0,"[98, 108]",NaN,2
40554,584,w0%1007,data_staging_profile_0,987157.858986,2,1042.701171,1,COMPLETED_SUCCESSFULLY,987157.858986,91.428671,987249.287658,0.0,91.428672,1.0,"[96, 108]",NaN,2
40572,602,w0%1007,data_staging_profile_0,987157.858986,2,1042.701171,1,COMPLETED_SUCCESSFULLY,987157.858986,91.428671,987249.287658,0.0,91.428672,1.0,"[100, 108]",NaN,2
40613,643,w0%1007,data_staging_profile_0,987157.858986,2,1042.701171,1,COMPLETED_SUCCESSFULLY,987157.858986,91.428671,987249.287658,0.0,91.428672,1.0,"[107, 108]",NaN,2

In [426]:
timeout_jobs = df[df.final_state == 'COMPLETED_WALLTIME_REACHED']['workload_name'].unique()
timeout_jobs

array(['w0%127', 'w0%128', 'w0%129', 'w0%130', 'w0%301', 'w0%406',
       'w0%376', 'w0%462'], dtype=object)

In [427]:
len(timeout_jobs)

8

In [428]:
df[df.workload_name.isin(timeout_jobs)][df.profile == 'parallel_homogeneous_profile_0']

,jobID,workload_name,profile,submission_time,requested_number_of_resources,requested_time,success,final_state,starting_time,execution_time,finish_time,waiting_time,turnaround_time,stretch,allocated_resources,metadata,proc_alloc
3076,36,w0%127,parallel_homogeneous_profile_0,75671.123700,36,59.876300,0,COMPLETED_WALLTIME_REACHED,75671.123700,59.876300,75731.000000,0.0,59.876300,1.0,"[0, 2, 3, 4, 5, 6, 7, 8, 9, 18, 28, 70, 71, 72...",NaN,36
3180,36,w0%128,parallel_homogeneous_profile_0,75731.123800,36,59.876300,0,COMPLETED_WALLTIME_REACHED,75731.123800,59.876300,75791.000100,0.0,59.876300,1.0,"[0, 2, 3, 4, 5, 6, 7, 8, 9, 18, 28, 70, 71, 72...",NaN,36
3223,36,w0%129,parallel_homogeneous_profile_0,75782.960502,36,59.916300,0,COMPLETED_WALLTIME_REACHED,75782.960502,59.916300,75842.876802,0.0,59.916300,1.0,"[1, 10, 11, 12, 13, 14, 15, 16, 17, 29, 30, 43...",NaN,36
3224,36,w0%130,parallel_homogeneous_profile_0,75791.075900,36,59.924300,0,COMPLETED_WALLTIME_REACHED,75791.075900,59.924300,75851.000200,0.0,59.924300,1.0,"[0, 2, 3, 4, 5, 6, 7, 8, 9, 18, 28, 70, 71, 72...",NaN,36
8825,4,w0%301,parallel_homogeneous_profile_0,184966.008500,4,59.991500,0,COMPLETED_WALLTIME_REACHED,184966.008500,59.991500,185026.000000,0.0,59.991500,1.0,"[24, 25, 26, 27]",NaN,4
11611,2,w0%406,parallel_homogeneous_profile_0,248142.004300,2,59.995700,0,COMPLETED_WALLTIME_REACHED,248142.004300,59.995700,248202.000000,0.0,59.995700,1.0,"[17, 19]",NaN,2
14916,50,w0%376,parallel_homogeneous_profile_0,286799.624194,50,119.894900,0,COMPLETED_WALLTIME_REACHED,286799.624194,119.894900,286919.519094,0.0,119.894900,1.0,"[0, 1, 10, 11, 12, 13, 18, 28, 38, 48, 51, 52,...",NaN,50
17163,82,w0%462,parallel_homogeneous_profile_0,337450.091903,82,8961.876001,1,COMPLETED_SUCCESSFULLY,337450.091903,3051.876318,340501.968221,0.0,3051.876318,1.0,"[0, 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",NaN,82
17331,165,w0%462,parallel_homogeneous_profile_0,340514.984639,82,5896.983265,1,COMPLETED_SUCCESSFULLY,340514.984639,3051.876318,343566.860957,0.0,3051.876318,1.0,"[0, 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",NaN,82
17526,330,w0%462,parallel_homogeneous_profile_0,343579.877374,82,2832.090530,0,COMPLETED_WALLTIME_REACHED,343579.877374,2832.090530,346411.967904,0.0,2832.090530,1.0,"[0, 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",NaN,82

In [429]:
timeout_job_ids = [s.split('%')[1] for s in timeout_jobs]
df[df.profile.isin(timeout_job_ids)]

,jobID,workload_name,profile,submission_time,requested_number_of_resources,requested_time,success,final_state,starting_time,execution_time,finish_time,waiting_time,turnaround_time,stretch,allocated_resources,metadata,proc_alloc
3014,127,w0,127,75671.0,36,60.0,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],9.999962e+06,0
3077,128,w0,128,75696.0,36,60.0,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],9.999961e+06,0
3139,129,w0,129,75704.0,36,60.0,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],9.999960e+06,0
3181,130,w0,130,75719.0,36,60.0,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],9.999959e+06,0
8810,301,w0,301,184966.0,4,60.0,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],9.999928e+06,0
14863,376,w0,376,245942.0,50,120.0,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],9.999977e+06,0
11605,406,w0,406,248142.0,2,60.0,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],9.999890e+06,0
17050,462,w0,462,255420.0,82,9000.0,0,REJECTED,NaN,NaN,NaN,NaN,NaN,NaN,[],2.324128e+09,0

In [430]:
dyn = df[df.final_state != 'REJECTED']

In [431]:
len(dyn.workload_name.unique())

1000

In [432]:
static = df[df.final_state == 'REJECTED']

In [433]:
comp_times = dyn[dyn.profile == 'parallel_homogeneous_profile_0'][['workload_name', 'execution_time']].groupby('workload_name').sum()
comp_times

               execution_time
workload_name
w0%100              11.250000
w0%1000              0.800200
w0%1001              0.600200
w0%1002              2.850150
w0%1003           9006.133824
...                       ...
w0%995               0.895036
w0%996            7739.201242
w0%997               0.875683
w0%998           34687.592550
w0%999             125.893988

[1000 rows x 1 columns]

In [434]:
start_end_times = dyn[['workload_name', 'starting_time', 'finish_time']].groupby('workload_name').agg({'starting_time': 'min', 'finish_time':'max'})
total_times = start_end_times.finish_time - start_end_times.starting_time
total_times = total_times.to_frame('execution_time')
total_times

               execution_time
workload_name
w0%100              22.024586
w0%1000              2.160566
w0%1001             19.340610
w0%1002             30.683089
w0%1003           9031.198596
...                       ...
w0%995              13.371196
w0%996            7748.597092
w0%997              29.101656
w0%998           34870.628163
w0%999             131.117130

[1000 rows x 1 columns]

In [435]:
all_times = total_times.join(comp_times, lsuffix='_total', rsuffix='_comp')
all_times['execution_time_io'] = all_times.execution_time_total - all_times.execution_time_comp
all_times['ratio'] = all_times.execution_time_comp / all_times.execution_time_io
all_times

,execution_time_total,execution_time_comp,execution_time_io,ratio
workload_name,,,,
w0%100,22.024586,11.250000,10.774586,1.044124
w0%1000,2.160566,0.800200,1.360366,0.588224
w0%1001,19.340610,0.600200,18.740410,0.032027
w0%1002,30.683089,2.850150,27.832939,0.102402
w0%1003,9031.198596,9006.133824,25.064772,359.314412
...,...,...,...,...
w0%995,13.371196,0.895036,12.476160,0.071740
w0%996,7748.597092,7739.201242,9.395850,823.682928
w0%997,29.101656,0.875683,28.225973,0.031024
w0%998,34870.628163,34687.592550,183.035613,189.512806
w0%999,131.117130,125.893988,5.223142,24.103114

In [436]:
all_times.describe()

,execution_time_total,execution_time_comp,execution_time_io,ratio
count,1000.000000,1000.000000,1000.000000,1000.000000
mean,4306.843615,4283.547897,23.295719,826.106420
std,17249.730049,17234.153946,49.009620,2422.733713
min,0.554962,0.100000,0.004300,0.002472
25%,13.037325,2.805111,0.165147,0.494687
50%,36.188005,21.544611,4.349496,100.743112
75%,786.725552,785.160660,20.805361,589.586651
max,215292.824237,215162.957230,717.706283,31859.792711

In [437]:
all_times[all_times.execution_time_io <= 0]

Empty DataFrame
Columns: [execution_time_total, execution_time_comp, execution_time_io, ratio]
Index: []