In [9]:
from evalys.workload import Workload

In [1]:
start = 599850
end = 29363618
duration = end - start

In [2]:
duration/16/60/60/24

20.807123842592592

In [6]:
period = round(duration / 16)
period

1797736

In [20]:
period_start_times = [(i, start + i * period) for i in range(16)]
period_start_times

[(0, 599850),
 (1, 2397586),
 (2, 4195322),
 (3, 5993058),
 (4, 7790794),
 (5, 9588530),
 (6, 11386266),
 (7, 13184002),
 (8, 14981738),
 (9, 16779474),
 (10, 18577210),
 (11, 20374946),
 (12, 22172682),
 (13, 23970418),
 (14, 25768154),
 (15, 27565890)]

In [10]:
input_location = '../../swf/KTH-SP2-1996-2.1-cln.swf'
workload = Workload.from_csv(input_location)

In [24]:
df = workload.df[['jobID', 'submission_time']]

In [21]:
def period_index(t):
    for i, period_start in reversed(period_start_times):
        if t >= period_start:
            return i

In [27]:
df['period'] = df.apply(lambda r: period_index(r.submission_time), axis=1)

<ipython-input-27-1bdf429abec0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['period'] = df.apply(lambda r: period_index(r.submission_time), axis=1)

In [31]:
# Job numbers from the beginning of every period. Except of job 16, should be 15, but there is a bug in evalys read.
df.groupby('period').min()

        jobID  submission_time
period
0          16           600022
1        1781          2397789
2        3003          4215297
3        4535          5993848
4        6281          7795474
5        7847          9588568
6        9785         11392171
7       12019         13206318
8       13666         14986286
9       15040         16790967
10      17077         18581496
11      20017         20382835
12      22264         22182432
13      24157         23972363
14      25850         25769862
15      27155         27567330

In [33]:
bounds = [
    (15, 1780),
    (1781, 3002),
    (3003, 4534),
    (4535, 6280),
    (6281, 7846),
    (7847, 9784),
    (9785, 12018),
    (12019, 13665),
    (13666, 15039),
    (15040, 17076),
    (17077, 20016),
    (20017, 22263),
    (22264, 24156),
    (24157, 25849),
    (25850, 27154),
    (27154, 28490)
]

In [35]:
[(start_id, end_id - start_id + 1) for start_id, end_id in bounds]

[(15, 1766),
 (1781, 1222),
 (3003, 1532),
 (4535, 1746),
 (6281, 1566),
 (7847, 1938),
 (9785, 2234),
 (12019, 1647),
 (13666, 1374),
 (15040, 2037),
 (17077, 2940),
 (20017, 2247),
 (22264, 1893),
 (24157, 1693),
 (25850, 1305),
 (27154, 1337)]